* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__right ul {
  display: flex;
  gap: 32px;
}
.header__right button {
  background: #04b90b;
  color: white;
  width: 137px;
  height: 44px;
  border-radius: 8px;
  border: none;
}
header {
  padding-top: 34px;
}
.header__right li:first-child {
  color: #04b90b;
}
.header__right li a {
  color: #777e90;
  text-decoration: none;
}

.hero__content {
  display: flex;
}
.hero__left h1 {
  font-size: 72px;
  font-family: "Alice", sans-serif;
  font-weight: 400;
}
.hero__desc {
  font-size: 24px;
  color: #777e90;
  font-family: "Poppins", sans-serif;
  margin: 12px 0 36px;
}
.hero__explore {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #04b90b;
}
.hero__explore button {
  background: #04b90b;
  color: white;
  width: 137px;
  height: 44px;
  border-radius: 8px;
  border: none;
}

main {
  padding-top: 150px;
}

.hero__left__bottom {
  background: #f4f5f6;
  width: 576px;
  padding: 28px 56px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 16px;
  margin-top: 158px;
}
.hero__left__bottom h3 {
  color: #777e90;
  font-size: 32px;
}
.hero__left__bottom p {
  color: #777e90;
  font-size: 20px;
}
.hero__line {
  width: 1px;
  height: 68px;
  background: #e6e8ec;
}
.offers {
  padding-top: 120px;
  padding-bottom: 80px;
  background: #fcfcfd;
}
.offers h2 {
  text-align: center;
  font-size: 48px;
  font-family: "Alice", sans-serif;
  margin-bottom: 12px;
}
.offers__description {
  text-align: center;
  color: #777e90;
  font-size: 24px;
}
.offers__special {
  color: #04b90b;
}

.offers__card {
  width: 340px;
  box-shadow: 0 10px 27px 0 rgba(53, 53, 53, 0.3);
  padding: 24px;
  border-radius: 15px;
}
.offers__rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
}
.offers__price {
  display: flex;
  justify-content: space-between;
}
.offers__title {
  font-size: 32px;
  font-weight: 400;
  font-family: "Alice", sans-serif;
}
.offers__img {
  text-align: center;
}

.offers__price button {
  background: #04b90b;
  width: 117px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  border: none;
}
.offers__price h3 {
  font-size: 40px;
  color: #04b90b;
  font-family: "Alice", sans-serif;
  font-weight: 400;
}
.offers__cards {
  display: flex;
  justify-content: space-between;
}
.swiper-slide-next .offers__card{
  width: 400px !important;
  height: 550px;
}