* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  .container {
    max-width: 1296px;
    margin: 0 auto;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__right {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header__right ul {
    display: flex;
    gap: 32px;
  }
  .header__right button {
    background: #04b90b;
    color: white;
    width: 137px;
    height: 44px;
    border-radius: 8px;
    border: none;
  }
  header {
    padding-top: 34px;
  }
  .header__right li:nth-child(3) {
    color: #04b90b;
  }
  .header__right li a{
    color: #777e90;
    text-decoration: none;
  }